<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-croppa/dist/vue-croppa.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue-croppa/dist/vue-croppa.min.js" type="text/javascript"></script>
    <title>MMI Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">MMI Challenge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Einleitung">Einleitung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#OpenSeaDragon">OpenSeaDragon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#DZC">Deep Zoom Composer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#CZ">Croppa Zoom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#OL">OpenLayers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#EZ">EasyZoom</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Einleitung -->
    <section id="Einleitung">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Einleitung</h2>
                    <p class="lead"><b>" Zoom und Pan"</b> um große Bilder (wie wir jetzt mit Maps umgehen):
                        wenn wir unsere Perspektive nur ein wenig ändern, stellen Sie fest, dass eine Karte/Map ein
                        Sonderfall eines
                        riesigen Bildes ist, Sie haben eine Darstellung der Erde ein 3D-Objekt, das in eine
                        2D-Oberfläche projiziert
                        wird.
                        es ist sehr lage, dass man nicht das Ganze auf einmal betrachten kann, aber auch nicht den
                        Detaillierungsgrad bekommen kann, an den man denken will, wenn man das Ganze betrachtet.
                        So müssen Sie in der Lage sein, zu zoomen und um ihn herum zu schwenken, so dass Sie verstehen
                        können, wo
                        Sie sich auf der Sache befinden, und dass Sie die Teile betrachten können, die Sie jederzeit
                        betrachten
                        möchten, ohne den Überblick behalten oder in Ihrem Kopf behalten zu müssen, wie die ganze Sache
                        ist.
                        Das ist der Sinn von Google Maps, aber Sie können dies auch mit jedem Bild tun, das Sie wollen,
                        mit
                        bestimmten Tools, hier werde ich über einige dieser Zooming-Tools sprechen, die in Websites und
                        mobilen Apps
                        verwendet werden können.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- OpenSeaDragon -->
    <section id="OpenSeaDragon" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>OpenSeaDragon</h2>
                    <p class="lead">Ein Open-Source, webbasierter Viewer für hochauflösende, zoombare Bilder,
                        implementiert in
                        reinem JavaScript, für Desktop und Mobile. Das bedeutet, dass Openseadragon der Teil des
                        Dienstes ist, der
                        es Ihnen ermöglicht, sich coole Zoom-Bilder anzusehen.</p>
                    <h3>Supported Tile Sources</h3>
                    <p class="lead">OpenSeadragon unterstützt mehrere Image-Serving-Protokolle wie :</p>
                    <ul class="lead">
                        <li><a href='http://openseadragon.github.io/examples/tilesource-legacy/'>Legacy Image
                                Pyramids</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-iiif/'>IIIF (International Image
                                Interoperability Framework)</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-dzi/'>Deep Zoom Images</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-osm/'>OSM (Open Street Maps)</a>
                        </li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-tms/'>TMS (Tiled Map
                                Service)</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-zoomify/'>Zoomify</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-custom/'>Custom Tile Sources</a>
                        </li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-image/'>Simple Image</a></li>
                    </ul>
                    <h3>Features</h3>
                    <p class="lead">OpenSeadragon bietet viele optionale Oberflächenelemente, die einfach über einfache
                        Konfigurationseinstellungen aktiviert werden können. Darüber hinaus möchte OpenSeadragon es
                        Ihnen
                        ermöglichen, seine Steuerelemente an vollständig benutzerdefinierte Schnittstellen zu binden.
                        wie z.B:</p>
                    <ul class="lead">
                        <li><a href='http://openseadragon.github.io/examples/ui-zoom-and-pan/'>Zoom and Pan</a></li>
                        <li><a href='http://openseadragon.github.io/examples/ui-overlays/'>Overlays</a></li>
                        <li><a href='http://openseadragon.github.io/examples/ui-viewport-navigator/'>Viewport
                                Navigator</a></li>
                        <li><a href='http://openseadragon.github.io/examples/ui-rotation/'>Rotation</a></li>
                        <li><a href='http://openseadragon.github.io/examples/ui-toolbar/'>Toolbar</a></li>
                        <li><a href='http://openseadragon.github.io/examples/ui-binding-custom-buttons/'>Binding Custom
                                Buttons</a>
                        </li>
                        <li><a href='http://openseadragon.github.io/examples/ui-keyboard-navigation/'>Keyboard
                                Navigation</a></li>
                    </ul>
                    <p class="lead">Es kommt sehr häufig vor, dass Gruppen verwandter Bilder so dargestellt werden
                        müssen, dass
                        der Benutzer leicht durch sie navigieren kann. OpenSeadragon bietet hierfür einfache Optionen
                        sowie
                        vollständige Unterstützung für mehrere Bilder mit vollständiger Kontrolle</p>

                    <ul>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-sequence/'>Sequence Mode</a>
                        </li>
                        <li><a href='http://openseadragon.github.io/examples/ui-reference-strip/'>Image Reference
                                Strip</a></li>
                        <li><a href='http://openseadragon.github.io/examples/tilesource-collection/'>Collection Mode</a>
                        </li>
                        <li><a href='http://openseadragon.github.io/examples/multi-image/'>Full Multi-Image</a></li>
                    </ul>
                    <hr>
                    <div>
                        <div id="seadragon-viewer" class="openseadragon1" style="width: 400px; height: 400px;"></div>
                        <script type="text/javascript">
                            var viewer = OpenSeadragon({
                                id: "seadragon-viewer",
                                prefixUrl: "./openseadragon/images/",
                                tileSources: [{
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'http://nhdarchives.pbworks.com/f/1349103580/NHD%20and%20Chronicling%20America.jpg',
                                        width: 782,
                                        height: 626
                                    }]
                                }, {
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'https://i.pinimg.com/originals/fb/79/28/fb792845b4ce90d3c6bd096df5aaaac7.png',
                                        width: 384,
                                        height: 626
                                    }]
                                }, {
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'http://gunrightswatch.com/clientuploads/blog/boston-herald-newspaper-1209-1980-john-lennon-murder.jpg',
                                        width: 748,
                                        height: 383
                                    }]
                                }, {
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg',
                                        width: 1999,
                                        height: 1376
                                    }]
                                }, {
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'https://images.pexels.com/photos/641314/pexels-photo-641314.jpeg',
                                        width: 3072,
                                        height: 2048
                                    }]
                                }, {
                                    type: 'legacy-image-pyramid',
                                    levels: [{
                                        url: 'http://qcostarica.com/wp-content/uploads/2014/06/chris-usatodayjune11.jpg',
                                        width: 599,
                                        height: 626
                                    }]
                                }],

                                sequenceMode: true, //next page, prev page
                                showReferenceStrip: true,
                                //referenceStripScroll: 'vertical', //Vertical Scrolling Image Reference Strip
                                // showRotationControl: true, //button rotate
                                showNavigator: true,
                                maxZoomPixelRatio: 5.0,
                                controlsFadeDelay: 3500,
                                homeFillsViewer: false
                            });

                            // viewer.addHandler('update-viewport', function() {
                            //    ....
                            // });

                            var elt1 = document.createElement("div");
                            elt1.id = "overlay1";
                            elt1.className = "highlight1";
                            viewer.addOverlay({
                                element: elt1,
                                location: new OpenSeadragon.Rect(0, 0.2, 0.19, 0.6) // left, top, width, height
                            });


                            var elt2 = document.createElement("div");
                            elt2.id = "overlay2";
                            elt2.className = "highlight2";
                            viewer.addOverlay({
                                element: elt2,
                                location: new OpenSeadragon.Rect(0.195, 0.2, 0.155, 0.35) // left, top, width, height
                            });

                            var elt3 = document.createElement("div");
                            elt3.id = "overlay2";
                            elt3.className = "highlight3";
                            viewer.addOverlay({
                                element: elt3,
                                location: new OpenSeadragon.Rect(0.357, 0.25, 0.16, 0.24) // left, top, width, height
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- >Deep Zoom Composer -->
    <section id="DZC">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Deep Zoom Composer</h2>
                    <p class="lead">Deep Zoom ist eine Open-Source-Technologie, die von Microsoft bereitgestellt wird
                        und Teil von
                        Silverlight ist, mit der Benutzer ein großes Bild mit hoher Auflösung oder eine große Sammlung
                        von Bildern
                        schwenken und vergrößern können.
                        Deep Zoom Composer Nehmen Sie Ihr Bild und geben Sie Ihnen die Bildpyramide.
                        Es reduziert die für das erstmalige Laden erforderliche Zeit, indem nur der angezeigte Bereich
                        und / oder
                        nur die Auflösung heruntergeladen werden, in der er angezeigt wird. Nachfolgende Regionen werden
                        heruntergeladen, während der Benutzer darauf schwenkt (oder hinein zoomt).</p>
                    <q>Um die Bilder zu sehen und zoomen und erkunden zu können, benötigen Sie OpenSeaDragon</q>
                    <ul class="lead">
                        <li><a href='https://www.microsoft.com/en-us/download/details.aspx?id=24819de'>Download Link</a>
                        </li>
                    </ul>
                    <hr>
                    <p class="lead">Ein Beispiel für den Einsatz von Deep Zoom Composer und OpenSeaDragon. <br>
                        Unter Untersuchen-> Netzwerk, um zu sehen, wie es die Tile-Bilder lädt.</p>
                    <div id="openseadragon1" style="width: 400px; height: 400px;"></div>
                    <script src="./openseadragon/openseadragon.min.js"></script>
                    <script type="text/javascript">
                        var viewer = OpenSeadragon({
                            id: "openseadragon1",
                            prefixUrl: "./openseadragon/images/",
                            tileSources: "./openseadragon/dzc_output.xml"
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>


    <!-- Croppa Zoom Slider -->
    <section id="CZ" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Croppa Zoom Slider</h2>
                    <p class="lead">Croppa ist ein einfacher und benutzerfreundlicher Bildbeschneider, der auch
                        Zoom-Funktionen
                        bietet. </p>
                    <h3>Zooming-Features</h3>
                    <ul class="lead">
                        <li>Zooming control</a></li>
                        <li>Drag & Drop Pictures</a></li>
                        <li>Speed</a></li>
                        <li>No Limit zooming</li>
                    </ul>

                    <div id="app">
                        <p class="lead">Limited Zoom with zooming Slider</p>
                        <input type="range" @input="onSliderChange" :min="sliderMin" :max="sliderMax" step=".001"
                            v-model="sliderVal"> {{sliderVal}}
                        <br><br>
                        <croppa v-model="croppa" @new-image-drawn="onNewImage" @zoom="onZoom">
                        </croppa>
                    </div>

                    <div id="app1">
                        <p class="lead">Without Limit Zoom</p>
                        <croppa v-model="croppa" @new-image-drawn="onNewImage" @zoom="onZoom">
                        </croppa>
                    </div>
                    <ul class="lead">
                        <li><a href='https://github.com/zhanziyang/vue-croppa'>Git-Repo-Link</a></li>
                    </ul>
                </div>

                <script type="text/javascript">
                    Vue.use(Croppa)

                    var app = new Vue({
                        el: '#app',
                        data: {
                            croppa: {},
                            sliderVal: 0,
                            sliderMin: 0,
                            sliderMax: 0
                        },

                        methods: {
                            onNewImage() {
                                this.sliderVal = this.croppa.scaleRatio
                                this.sliderMin = this.croppa.scaleRatio / 2
                                this.sliderMax = this.croppa.scaleRatio * 2
                            },

                            onSliderChange(evt) {
                                var increment = evt.target.value
                                this.croppa.scaleRatio = +increment
                            },

                            onZoom() {
                                // To prevent zooming out of range when using scrolling to zoom
                                if (this.sliderMax && this.croppa.scaleRatio >= this.sliderMax) {
                                    this.croppa.scaleRatio = this.sliderMax
                                } else if (this.sliderMin && this.croppa.scaleRatio <= this.sliderMin) {
                                    this.croppa.scaleRatio = this.sliderMin
                                }

                                this.sliderVal = this.croppa.scaleRatio
                            }
                        }
                    })
                </script>

                <script type="text/javascript">
                    Vue.use(Croppa)

                    var app1 = new Vue({
                        el: '#app1',
                        data: {
                            croppa: {},
                            sliderVal: 0,
                            sliderMin: 0,
                            sliderMax: 0
                        },

                        methods: {
                            onNewImage() {
                                this.sliderVal = this.croppa.scaleRatio
                                this.sliderMin = this.croppa.scaleRatio / 2
                                this.sliderMax = this.croppa.scaleRatio * 2
                            },

                            onSliderChange(evt) {
                                var increment = evt.target.value
                                this.croppa.scaleRatio = +increment
                            },

                            onZoom() {
                                // To prevent zooming out of range when using scrolling to zoom
                                /* if (this.sliderMax && this.croppa.scaleRatio >= this.sliderMax) {
                                  this.croppa.scaleRatio = this.sliderMax
                                } else if (this.sliderMin && this.croppa.scaleRatio <= this.sliderMin) {
                                  this.croppa.scaleRatio = this.sliderMin
                                }
                           
                                 this.sliderVal = this.croppa.scaleRatio */
                            }
                        }
                    })
                </script>
            </div>
        </div>
    </section>


    <!-- OpenLayers -->
    <section id="OL">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>OpenLayers</h2>
                    <p class="lead">OpenLayers erleichtert das Einfügen einer dynamischen Karte in jede Webseite. Es
                        kann
                        Kartenkacheln, Vektordaten und Markierungen anzeigen, die aus einer beliebigen Quelle geladen
                        wurden.
                        OpenLayers wurde entwickelt, um die Nutzung von Geoinformationen aller Art zu fördern. Es ist
                        völlig
                        kostenlos, Open Source JavaScript.
                        OpenLayer können nicht nur für Karten/Maps, sondern auch für statik Bilder verwendet werden.</p>
                    <h3>Features</h3>
                    <ul class="lead">
                        <li>Tiled Layers</a></li>
                        <li>Vector Layers</a></li>
                        <li>Cutting Edge, Fast & Mobile Ready</a></li>
                        <li>Easy to Customize and Extend</li>
                    </ul>

                    <ul class="lead">
                        <li><a href='https://openlayers.org/en/latest/examples/static-image.html'>Hier ist ein
                                Beispiel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <!-- EasyZoom -->
    <section id="EZ" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>EasyZoom</h2>
                    <p class="lead">EasyZoom ist ein öffentlicher Dienst für Leute, die hochauflösende Bilder hosten und
                        teilen
                        möchten.
                        Es unterstützt sowohl gelegentliche Dateiformate (jpg, tif, png, pdf, psd) als auch spezifische
                        Mikroskopformate (svs, ndpi, scn, ...).
                        Benutzer können problemlos große Dateien wie z. B. 2 GB mit einer Auflösung von 200.000 x
                        200.000 hochladen
                        und diese dann in einem Browser anzeigen. Außerdem gibt es viele zusätzliche Funktionen wie das
                        Hinzufügen
                        von Anmerkungen, Kommentieren und Einbetten in externe Websites. Wir glauben, dass dieses
                        Produkt vielen
                        Fachleuten helfen kann, ihre riesigen Bilder im Internet zu teilen und mit anderen Menschen in
                        ihren
                        Interessengebieten zusammenzuarbeiten, sei es als Objektträger, Astronomiebilder oder einfach
                        nur als großes
                        Fotopanorama.</p>
                    <h3>Features</h3>
                    <ul class="lead">
                        <li><b> Zooming:</b> Hochauflösende Bilder herunterladen und einfach im Browser betrachten.
                            EasyZoom
                            unterstützt viele verschiedene Formate: JPG, NDPI, SCN, SVS, VMS, VMU, MRXS...
                            Auch Designer können ihre Projekte in den folgenden Formaten herunterladen: PSD, PDF, PNG,
                            PNG, TIFF.
                        </li>
                        <li><b>Annotations:</b> Gigapixel-Bilder Kommentieren, um ihnen eine neue Perspektive
                            hinzuzufügen. es ist
                            möglich Text, Bilder, Links oder Videos in Anmerkungen einzufügen.</li>
                        <li><b> Advanced sharing:</b> Mit dem iFrame EasyZoom ist es möglich, Bilder auf jeder Website
                            zu teilen und
                            einzufügen.</li>
                        <li><b>Catalog :</b> Catalogen erstellen nach Kategorien wie Kunst, Astronomie, Fotografie,
                            Medizin,
                            Mikroskopie, Grafikdesign...</li>
                        <li><b>Watermarking :</b> Schutz des Originalinhalts durch Anbringen eines Wasserzeichens auf
                            allen Ebenen
                            Ihrer Bilder.</li>
                    </ul>
                    <q>Easyzoom hat mehrere ausgezeichnete Funktionen, aber leider ist es nicht kostenfrei.</q>
                    <ul class="lead">
                        <li><a href='https://easyzoom.com/image/92839/popular'>Hier ist ein
                                Beispiel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Habib Mokni - MMI - Zooming Tools Challenge - 2019</p>
        </div>
        <!-- /.container -->
    </footer>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>